<div 
  *ngIf="products!.length; else loading">
  <h2 class="text-center">Dashboard products</h2>

  <div class="form-control">
    <input type="text" placeholder="Find a product" [(ngModel)]="productName">
  </div>

  <table>
    <tHead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Prise</th>
        <th>Date of creation</th>
        <th>Open</th>
        <th>Del</th>
      </tr>
    </tHead>
    <tbody>
      <tr *ngFor="let product of products | search: productName; let idx = index">
        <td>{{idx + 1}}</td>
        <td>{{product.type}}</td>
        <td>{{product.title}}</td>
        <td>{{product.price}}$</td>
        <td>{{product.date | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td>
          <button class="btn btn-dark" [routerLink]="['/admin', 'product', product.id, 'edit']">Open</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="remove($event, product.id)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div class="text-center">Loading...</div>
</ng-template>
