<div
  *ngIf="loading; else loader"
>
  <h2 class="text-center">Orders products</h2>

  <div class="filter-control">
    <button class="btn btn-primary" [class.btn-danger]="isActive('all')" type="button" data-value="all" (click)="handlerButtonFilterOrder($event)">all</button>
    <button class="btn btn-primary" [class.btn-danger]="isActive('active')" type="button" data-value="active" (click)="handlerButtonFilterOrder($event)">active</button>
    <button class="btn btn-primary" [class.btn-danger]="isActive('done')" type="button" data-value="done" (click)="handlerButtonFilterOrder($event)">done</button>
  </div>

  <table>
    <tHead>
      <tr>
        <th>Date</th>
        <th>Phone</th>
        <th>Name</th>
        <th>Address</th>
        <th>Price</th>
        <th>Status</th>
        <th>Del</th>
      </tr>
    </tHead>
    <tbody
      *ngIf="orders!.length; else empty"
    >
      <tr *ngFor="let order of orders | sorting: filterTextOrders: 'done'">
        <td>{{order.date | date: 'dd.MM.yyyy' }}</td>
        <td>{{order.phone}}</td>
        <td>{{order.name}}</td>
        <td>{{order.address}}</td>
        <td>{{order.totalPrice}}$</td>
        <td>
        <button class="btn btn-success"
          (click)='completedOrder($event, order)'
          [disabled]='order.done'
          >Completed</button>
      </td>
      <td>
        <button class="btn btn-danger"
          (click)='deletedOrder($event, order.id)'
        >Deleted</button>
      </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #empty>
  <div class="text-center">Note items...</div>
</ng-template>

